/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

:root {
    --font-family: 'Inter', sans-serif;
    --color-quote: #24afb5;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

/* Estilos para el contenedor principal */
#container {
    background: var(--1-surface-primary, #FFF);
    padding: 10px;
}

/* Estilos para la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
    width: 1136px;
    height: 88px;
    display: block;
}

nav li {
    width: 66px;
    height: 22px;
    display: inline-block;
    margin-left: 20px;
}

nav li:first-child {
    margin-left: 0;
}

nav li a {
    color: #1C1C1C;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -0.1px;
    text-decoration: none;
}

/* Estilos para el contenido principal */
#FirstContent {
    width: 1901px;
    height: 500px;
    flex-shrink: 0;
    text-align: left;
    margin: 20px;
}

/* Estilos para el título principal */
#titleFirst {
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1.2px;
}

/* Estilos para la sección principal */
#FirstSection {
    max-width: 1486px;
    margin: 9% auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* Estilos para el vector (imagen) */
#vector {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

/* Estilos para el formulario */
form {
    margin-right: 20px;
    width: 379px;
}

/* Estilos para los campos de entrada */
input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    display: block;
    border-radius: 5px;
}

/* Estilos para el botón */
button {
    padding: 11px 16px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 6px;
    background: #24AFB5;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
        background-color: #1a8c92;
    }
}

/* SEGUNDO CONTENIDO */
#SecondContent {
    width: 1901px;
    height: 500px;
    flex-shrink: 0;
    text-align: left;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SecondContent img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#SecondContent p {
    max-width: 39%;
    color: var(--2-on-surface-200, #585757);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.3px;
}

/* Línea de división gris */
.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}

/* TERCER CONTENIDO */
#thirdContent {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;

}

.content-item {
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}

.content-item img {
    width: 50px;
    margin-right: 10px;
}

.text-container {
    text-align: center;
}

.ImagenSec3 img {
    width: 17.6px;
    height: 17.6px;
    
}

.ImagenSec3{
 width: 635px;
 height: 400px;
 background:  #DBDBDB;
}

.tittles {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

p {
    color: var(--2-on-surface-200, #585757);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}